html {
	margin: 0;
	padding: 0;
	background: url(images/concrete_seamless.png);
}
body {
	width: 940px;
	margin: 0 auto;
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
}
section.nav{
	position: relative;
	text-align: center;
	top: 10px;
	width: 920px;
	height: 30px;
	padding: 10px;
	background: red;

}
aside{
	float: left;
	width: 470px;
	min-height: 480px;
	background:black;
	margin: 0 0 20px 0;
	border-radius: 10px;
	/*Aligns image buttons in center*/
	text-align:center;
}
#button{
	position:relative;
	top:23px;
}
h1 {
	font: 32pt Helvetica,"Helvetica neue", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	background:red;
	color: #e5b7ad;
	padding-top: 30px ;
	text-shadow: 1px 1px 2px #fff; 

}
section{
	float: right;
	width: 428px;
	padding-left: 20px;
	background:black;
	margin: 0 0 20px 0px;
	border-radius: 10px;


}
section h2 {
	font: 14pt Helvetica,"Helvetica neue", Arial, sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	background:red;
	color: #493831;
	padding-bottom: 378px;
	margin: 0;
	border-radius: 10px;
}
footer{
	position: relative;
	text-align: center;
    font: 12pt Helvetica,"Helvetica neue", Arial, sans-serif;
	clear:both !important;
	width:920px;
	height: 100px;
	padding: 5px;
	color:#200f08 ;
	background:gray;
	border-radius: 10px;
	bottom: 10px;
}
img.displayed{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a:link{
	color: white;
}
.link{
	font-size: 20px;
	font-family: Impact, Charcoal, sans-serif;
	padding-left: 80px;
	padding-right: 80px;
}
.link:hover{
	color:black;
}



